[data-dropdown]{
  position: relative;
}

[data-dropdown] .dropdown-menu{
  display: none;
}
[data-dropdown]:hover .dropdown-menu, [data-dropdown].active .dropdown-menu{
  display: block;
  animation: show-up .3s;
}

@keyframes show-up{
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}

.dropdown-menu{
  position: absolute;
  background: #e54;
  border: 2px solid #333;
  z-index: 200;
  top: 38px;
}

.dropdown-menu::before{
  content: '';
  display: block;
  position: absolute;
  top: -10px;
  width: 0px;
  height: 0px;
  border-bottom: 10px solid #e54;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.dropdown-menu li a:hover{
  color: #fff;
}