[data-semana]::after {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #e54;
  border-radius: 50%;
  margin-left: 4px;
  border: 1px solid #000;
}

[data-semana].aberto::after {
  background: #3f4;
}