/* Reset */
body, h1, h2, h3, ul, li, p, dd, dt, dl {
  margin: 0;
  padding: 0;
}

img{
  display: block;
  max-width: 100%;
}

ul{
  list-style: none;
}

/* Geral */
body{
  background: #faf6ed;
  color: #222;
  -webkit-font-smoothing: antialiased;
}

.grid-container{
  display: grid;
  grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr;
}

.menu{
  grid-column: 3 / 5;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background: #fb5;
}

.menu ul{
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.menu li a{
  display: block;
  padding: 10px;
  margin-right: 10px;
  color: #222222;
  text-decoration: none;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: bold;
  text-transform: uppercase;
  font-size: .875rem;
  letter-spacing: .1em;
}

.grid-section{
  grid-column: 2 / 4;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  display: grid;
  grid-template-columns: 90px 300px 1fr;
  grid-gap: 20px;
  margin-bottom: 4rem;
}

.titulo{
  font-family: 'Playfair Display SC', georgia;
  font-size: 6rem;
  line-height: 1;
  font-weight: 400;
  margin-bottom: 1rem;
  grid-column: 1 / 4;
}

.animais h2{
  font-family: 'IBM Plex Mono', monospace;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: .1em;
  margin-bottom: 1rem;
  color: #e54;
}

.animais h2::before{
  content: '';
  display: inline-block;
  width: 40px;
  height: 10px;
  margin-right: 10px;
  background: #fb5;
}

.animais p {
  font-family:  Helvetica, Arial, sans-serif;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.animais-lista{
  height: 370px;
  overflow-y: scroll;
  grid-column: 2;
}

.animais-lista li{
  cursor: pointer;
}

.animais-lista::-webkit-scrollbar{
  width: 18px;
}

.animais-lista::-webkit-scrollbar-thumb{
  background: #fb5;
  border-left: 4px solid #faf6ed;
  border-right: 4px solid #faf6ed;
}

.animais-lista::-webkit-scrollbar-track{
  background: #faf6ed;
}

.animais-descricao{
  grid-column: 3;
}

.animais-descricao section{
  margin-bottom: 3rem;
}

.faq-lista{
  grid-column: 2 / 4;
}

.faq-lista dt{
  font-family: 'IBM Plex Mono', monospace;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: .5rem;
  color: #e54;
  cursor: pointer;
}

.faq-lista dt::before{
  content: '';
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-right: 10px;
  background: #fb5;
}

.faq-lista dd{
  font-family: Helvetica, Arial, sans-serif;
  margin-bottom: .5rem;
  margin-left: 30px;
  text-indent: 1rem;
}

.mapa{
  grid-column: 2;
}

.dados{
  grid-column: 3;
}

.dados li{
  margin-bottom: 1rem;
  font-family: Helvetica, Arial, sans-serif;
}

.dados li::before{
  content: '';
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-right: 10px;
  background: #fb5;
}

.copy{
  grid-column: 3 / 5;
  margin-bottom: 2rem;
  background: #fb5;
}

.copy p{
  padding: 20px;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: bold;
}

@media (max-width: 700px){
  .grid-container{
    grid-template-columns: 1fr;
  }
  .menu, .grid-section, .copy{
    grid-column: 1;
  }
  .grid-section{
    grid-template-columns: 100px 1fr;
    grid-gap: 10px;
  }
  .animais-lista{
    grid-column: 1;
  }
  .animais-descricao{
    grid-column: 2;
  }
  .faq-lista, .dados, .mapa{
    grid-column: 1 / -1;
  }
  .grid-section h1{
    font-size: 2.5rem;
  }
  .menu{
    margin-top: 0;
  }
  .copy{
    margin-bottom: 0;
  }
}

.js [data-tab="content"] section{
  display: none;
}

[data-tab="content"] section.ativo{
  display: block;
  animation: show .5s forwards;
}

@keyframes show {
  from {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0,0,0);
  }
}

.js [data-anime="accordion"] dd{
  display: none;
}

[data-anime="accordion"] dt::after{
  content: '';
  width: 10px;
  height: 10px;
  display: inline-block;
  background: url('../img/arrow-red.svg') no-repeat center center;
  margin-left: 10px;
  transform: rotate(90deg);
}
[data-anime="accordion"] dt.ativo::after{
  content: '';
  transform: rotate(-90deg);
  transition: transform .3s;

}

[data-anime="accordion"] dd.ativo{
  display: block;
  animation: slideDown .5s;
}

@keyframes slideDown{
  from{
    opacity: 0;
    transform: translateY(-30px);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}

.js [data-anime="scroll"]{
  opacity: 0;
  transform: translate3d(-30px, 0, 0);
  transition: .5s;
}

.js [data-anime="scroll"].ativo{
  opacity: 1;
  transform: translate3d(0,0,0);
}

/* Bitcoin Span */

.btc-preco{
  background: #3fa;
  padding: .2rem .5rem;
  font-weight: bold;
  border-radius: 2px;
}

.arrow-black{
  background: url('/img/arrow-black.svg') center center no-repeat;
  display: inline-block;
  width: 8px;
  height: 10px;
}