[data-menu="mobile"]{
  display: none;
}

@media (max-width: 700px){
  .js [data-menu="mobile"]{
  display: flex;
  background: #222;
  border: none;
  padding: .5rem 1rem;
  border-radius: 4px;
  text-transform: uppercase;
  font-family: 'IBM Plex Mono', monospace;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  margin: 10px;
  align-items: center;
  position: relative;
  z-index: 300;
}
 .js [data-menu="mobile"]::before{
   content: '';
   display: inline-block;
   height: 2px;
   width: 12px;
   background: #fff;
   box-shadow: 0 4px #fff, 0 -4px #fff;
   margin-right: 4px;
   transition: transform .3s;
 }
 .js [data-menu="mobile"].active::before{
    transform: rotate(90deg);
}

 .js [data-menu="list"]{
   display: none;
   position: absolute;
   background: #fb5;
   width: 160px;
   z-index: 200;
   padding: 60px 0 20px 0;
   top: 0;
   box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, .2);
 }
 .js [data-menu="list"].active{
   display: block;
   animation: show .3s;
 }
 .js .dropdown-menu{
   position: static;
   border: none;
 }
}